body {
    background: #0f0f23;
    color: #cccccc;
    font-family: monospace;
    user-select: none;
}
#content {
    width: 600px;
    margin: auto;
}
a {
    text-decoration: none;
    color: #009900;
}
.selected {
    color: #00cc00;
    text-shadow: 0 0 2px #00cc00, 0 0 5px #00cc00;
}
a:hover, a:focus {
    color: #99ff99;
}
.unavailable {
    color: #666666;
}
#output {
    user-select: text;
}
canvas {
    display: block;
    margin: auto;
}

/* Editor */
.CodeMirror {
    margin: auto;
    width: 1400px;
    height: 800px;
}
.CodeMirror-foldmarker {
    font-weight: bold;
    color: #eaeaea;
    background: #242830;
    outline: 1px solid #405060;
    line-height: .3;
    cursor: pointer;
}
.CodeMirror-foldgutter {
    width: .7em;
}
.CodeMirror-foldgutter-open,
.CodeMirror-foldgutter-folded {
    cursor: pointer;
}
.CodeMirror-foldgutter-open:after {
    content: "\25BE";
}
.CodeMirror-foldgutter-folded:after {
    content: "\25B8";
}
.cm-matchhighlight {
    outline: 1px solid #2f4c3c;
}

