html {
    height: 100%;
}
body {
    height: calc(100% - 16px);
    margin: 8px;
    display: flex;
    flex-flow: column;
    background: #0f0f23;
    color: #cccccc;
    font-family: monospace;
    user-select: none;
}
#content {
    flex: 0 1 auto;
    width: 100%;
    text-align: center;
}
a {
    text-decoration: none;
    color: #009900;
}
.selected {
    color: #00cc00;
    text-shadow: 0 0 2px #00cc00, 0 0 5px #00cc00;
}
a:hover, a:focus {
    color: #99ff99;
}
.unavailable {
    color: #666666;
}
#output {
    user-select: text;
}
#overlay {
    position: fixed;
    z-index: 10;
    visibility: hidden;
    width: 100%;
    height: 100%;
    display: flex;
}
canvas {
    visibility: visible;
    margin: auto;
}

/* Editor */
.command {
    color: #009900;
    cursor: pointer;
}
.command:hover {
    color: #99ff99;
}
#editor {
    flex: 1 1 auto;
    display: flex;
    flex-flow: row;
}
#editor-left {
    flex: 1 1 auto;
    display: flex;
    flex-flow: column;
}
#editor-right {
    flex: 0 1 auto;
    min-width: 40%;
    max-width: 40%;
    display: flex;
    flex-flow: column;
    margin-left: 2px;
}
#editor-code {
    flex: 1 1 auto;
}
#editor-input {
    flex: 1 1 auto;
}
#editor-output {
    flex: 0 1 auto;
    min-height: 40%;
}
.CodeMirror-foldmarker {
    font-weight: bold;
    color: #eaeaea;
    background: #242830;
    outline: 1px solid #405060;
    line-height: .3;
    cursor: pointer;
}
.CodeMirror-foldgutter {
    width: .7em;
}
.CodeMirror-foldgutter-open,
.CodeMirror-foldgutter-folded {
    cursor: pointer;
}
.CodeMirror-foldgutter-open:after {
    content: "\25BE";
}
.CodeMirror-foldgutter-folded:after {
    content: "\25B8";
}
.cm-matchhighlight {
    outline: 1px solid #2f4c3c;
}

